@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url('https://fonts.cdnfonts.com/css/signatie');
@import url('https://fonts.cdnfonts.com/css/passeio-test');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #eff7d3;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  padding-top: 5%;
  background-image: url(bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

nav{
  position: fixed;
  font-family: 'Poppins';
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 50px;
  box-sizing: border-box;
  background: rgba(232, 250, 231, 0.6);
  border-bottom: 1px solid   #eff7d3;
  border-top: 1px solid   #eff7d3;
  border-radius: 5px;
  z-index: 1000;
}

nav .title{
  padding: 10px 10px;
  height: 80px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  color: #535a3b;
  font-family: 'signatie';
}

nav a{
  display: flex;
  float: right;
  margin: 0;
  line-height: 60px;
  color: #535a3b;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
}

nav a:hover{
  color: #eff7d3;
  background-color: #707955;
  border-radius: 30px;
}

.search-container {
    display: flex;
    align-items: right;
    padding: 10px 100px;
    font-family: 'Poppins';
  }
  
.search-container input {
    padding: 10px;
    border-radius: 30px;
    margin-right: 5px;
    font-family: 'Poppins';
}

.search-container button {
    padding: 8px 25px;
    background-color: #535a3b;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
}

.search-container button:hover {
    background-color: #a7b99e;
}

h1 {
  font-weight: 700;
  letter-spacing: -1.5px;
  margin: 0;
  margin-bottom: 15px;
}

h1.title {
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  text-shadow: 0 0 10px rgba(16, 64, 74, 0.5);
  font-family: 'signatie';
}

p {
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 1px;
  text-shadow: 0 0 10px rgba(16, 74, 19, 0.5);
}

.content {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}

.content .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content input {
  accent-color: #333;
  width: 12px;
  height: 12px;
}

.content label {
  font-size: 14px;
  user-select: none;
  padding-left: 5px;
}

button {
  position: relative;
  border-radius: 20px;
  border: 1px solid #a7b99e;
  background-color: #a7b99e;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  margin: 10px;
  padding: 12px 80px;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: 0.3s ease-in-out;
}

button:hover {
  letter-spacing: 3px;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: rgba(225, 225, 225, 0.2);
  border: 2px solid #f9ffe4;
  color: #f9ffe4;
}

button.ghost i{
  position: absolute;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

button.ghost i.register{
  right: 70px;
}

button.ghost i.login{
  left: 70px;
}

button.ghost:hover i.register{
  right: 40px;
  opacity: 1;
}

button.ghost:hover i.login{
  left: 40px;
  opacity: 1;
}

form {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border-radius: 30px;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.card {
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 1068px;
  max-width: 100%;
  min-height: 550px;
}

.form-card {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.avatar{
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}
.avatar label {
    display: block;
    border-radius: 60%;
    overflow: hidden;
    width: 100px; 
    height: 100px;
    cursor: pointer;
  }
  
.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar input {
    display: none;
}

.avatar label {
    border: 2px solid #a7b99e;
}

.avatar label:hover {
    border-color: #535a3b;
}

.form-card textarea{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: 'Poppins';
}

.login-card {
  left: 0;
  width: 50%;
  z-index: 2;
  color: #535a3b;
}

.card.right-panel-active .login-card{
  transform: translateX(100%);
}

.register-card {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.card.right-panel-active .register-card {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.overlay-card {
  position: absolute;
  font-family: 'Poppins';
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.card.right-panel-active .overlay-card {
  transform: translate(-100%);
}

.overlay {
  background-image: url('image2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #cedcc3;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(46, 109, 49, 0.4) 40%,
    rgba(46, 109, 56, 0)
  );
  opacity: 50%;
}

.card.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.card.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.card.right-panel-active .overlay-right {
  transform: translateX(20%);
}
