<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <nav>
    <div class="title">FlavorFinds</div>
    <!--TODO: profile dropdown-->
    <a href="/profile">Profile</a>
    <a href="/restau1">Reviews</a>
    <a href="/home">Home</a>
    <a href="/aboutus">About us</a>
    
    <div class="search-container">
      <input type="text" id="search" placeholder="Search">
      <button type="button"><i class="fas fa-search"></i></button>
    </div>
  </nav>
<!-- 
  <div class="card-container">
    <div class="card" id="card1"></div>
    <div class="card" id="card2"></div>
    <div class="card" id="card3"></div>
    <div class="card" id="card4"></div>
    <div class="card" id="card5"></div>
    <div class="card" id="card6"></div>
  </div> -->

  <div class="container">
        <div id="slide">
            <div class="item" style="background-image: url(dtf.png);">
                <div class="content">
                    <div class="name">Din Tai Fung</div>
                    <div class="des">Din Tai Fung is known for its signature dish, xiao long bao, a type of steamed dumpling filled with soup and meat, the dumplings are carefully crafted by skilled chefs and are made fresh to order, ensuring quality and flavour. For anyone looking to experience traditional Taiwanese cuisine and sample some of the best dumplings in the world, eating at Din Tai Fung is absolutely essential for you foodies out there!</div>
    
                    <a href="/restau1">
                        <button>Visit to Din Tai Fung</button>
                    </a>
                </div>
            </div>
            <div class="item" style="background-image: url(aristocrat.jpg);">
                <div class="content">
                    <div class="name">The Aristocrat</div>
                    <div class="des">The Aristocrat Restaurant's menu doesn't stop at Lumpiang Shanghai. Other specialties include barbecued chicken served with its signature peanut sauce and java rice, and the TasteAtlas-recommended beef mechado, pancit canton, and crushed ice mixed with fruit and beans dessert, halo-halo. These dishes, each a testament to the rich culinary heritage of the Philippines, have made The Aristocrat Restaurant a must-visit destination for food lovers worldwide.</div>
                    <a href="/restau2">
                        <button>Visit to Aristrocat</button>
                    </a>
                </div>
            </div>
            <div class="item" style="background-image: url(bistro\ ravioli.png);">
                <div class="content">
                    <div class="name">Bistro Ravioli</div>
                    <div class="des">Bistro Ravioli is a group of authentic Italian restaurants that bring Italy closer to the Philippines by way of traditional Italian cuisine like fresh pasta, brick oven pizza, and ravioli. Every dish uses only the freshest ingredients to give honor to traditional Italian cooking that we love so much.</div>
                   
                    <a href="/restau3">
                        <button>Visit to Bistro Ravioli</button>
                    </a>
                </div>
            </div>
            <div class="item" style="background-image: url(lugang.png);">
                <div class="content">
                    <div class="name">Lugang Cafe</div>
                    <div class="des">Lugang Café serves authentic Taiwanese cuisine. It is best known for its xiao long bao – dumplings covered in thin, delicate wrappers. Other dishes that have earned rave reviews from diners include their wonton soup, roast duck, and that Three-Cup Chicken house specialty.</div>
                   
                    <a href="/restau4">
                        <button>Visit to Lugang Cafe</button>
                    </a>
                </div>
            </div>
            <div class="item" style="background-image: url(italianni\'s.jpg);">
                <div class="content">
                    <div class="name">Italianni's</div>
                    <div class="des">Italianni’s provides a diverse selection of Italian and American cuisine, including entrees for breakfast, seafood, spaghetti, flatbread, antipasto, a variety of meat entrees, fantastic drinks, cocktails, and a lot more. You are provided with the finest Italian delicacies; each prepared using authentic Italian recipes. Every meal is prepared in the time-honored manner of classic Italian cooking, utilizing only ingredients of the highest possible standard.</p></div>
                   
                    <a href="/restau5">
                        <button> Visit to Itallianni's</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button id="prev"><i class="fa-solid fa-angle-left"></i></button>
            <button id="next"><i class="fa-solid fa-angle-right"></i></button>
        </div>
    </div>

    <!-- <div class="category-container">
        <h2>New Container Content</h2>
        <p>This is where you can add more content for the new container.</p>
        <div class="card-row">
            <div class="card">
                <h3>Card 1</h3>
                <p>Description for Card 1</p>
            </div>
            <div class="card">
                <h3>Card 2</h3>
                <p>Description for Card 2</p>
            </div>
            <div class="card">
                <h3>Card 3</h3>
                <p>Description for Card 3</p>
            </div>
            <div class="card">
                <h3>Card 4</h3>
                <p>Description for Card 4</p>
            </div>
        </div>
        <div class="card-row">
            <div class="card">
                <h3>Card 5</h3>
                <p>Description for Card 5</p>
            </div>
            <div class="card">
                <h3>Card 6</h3>
                <p>Description for Card 6</p>
            </div>
            <div class="card">
                <h3>Card 7</h3>
                <p>Description for Card 7</p>
            </div>
            <div class="card">
                <h3>Card 8</h3>
                <p>Description for Card 8</p>
            </div>
        </div>
    </div> -->
    

  <script src="home.js"></script>
</body>
</html>
